/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Quicksand:wght@300..700&display=swap');
/* css variables */
:root {

    --primary-font: "Quicksand", bold;
    --secondary-font: "Comic Relief", bold;
     --primary-color: #7c9563; /*green*/
    --secondary-color: #a6ae9d; /* light grey*/
    --highlight-color:   #a6ae9d; /*light blue*/
    --highlight-color-light:#400800; /*dark brown*/
}
/* Global styles */
body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1,
h2 {
text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {

    color: var(--highlight-color);
    font-weight: bold;
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Navbar */
#navbar {
    background-color: var(--highlight-color);
}

#navbar .logo {
    width: 30px;
}


/* Cards */
#container .card{
    margin-bottom: 1.5rem;
}

/* Footer/contact */

#contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;
}

#contact h2 {
    color: white;
}

#contact .sub-heading-color {
    color: var(--highlight-color-light);
}

#contact i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact .social-links i {
    color: var(--highlight-color-light);
    font-size: 1.9rem;
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--secondary-color);
}

#contact .table-dark * {
    background-color: transparent;
}